.logo {
  width: 200px;
}

.passwordLabel {
  margin-bottom: 20px;
}

.placeForErrMassage {
  font-size: 0.75rem;
  margin-left: 0.5rem;
  height: 1.5rem;
  color: #c20a0a;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #fff;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.1);
  padding: 16px;
  outline: 0;
  border-radius: 5px;
}

.alertModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #fff;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.1);
  padding: 16px;
  outline: 0;
  border-radius: 5px;
}
